body {
  background-repeat: repeat;
  font-family: 'Montserrat', sans-serif;
  background-color: #bfa5d4;
  background-size: cover;
  margin: 0;
  height: 100vh;
  font-weight: bold;
}

body > nav {
  grid-area: nav;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px 0 30px;
  margin-top: 5px;
}


.card .card-content .card-title {
  margin-bottom: 10px;
  text-align: center;
}

h1 {
  font-size: 100px;
  text-align: center;
  margin-top: 250px;
  color: purple;
  font-weight: bold
}

h3 {
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 25px;
  color: #9b814b;
}

p {
  max-width: 650px;
  margin: auto;
}

a {
  color: #351dbe;
  font-weight: bold;
}

a:hover {
  color: black;
}

label {
  font-weight: bold;
  font-size: larger;
}

.google-nav {
  display: block;
  margin-left: auto;
}

#home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}


.show-page-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#details-img {
  display: block;
  max-width: 550px;
  max-height: 600px;
  width: auto;
  height: auto;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5px;
}

.details-text {
  text-align: center;
  color: black;
  font-weight: medium
}

.show-btn {
  border-radius: 2px;
}

table {
  margin: auto;
}

table thead th {
  padding: 5px;
}

table td {
  padding: 10px;
  text-align: center;
}

.resource-container, .quilt-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
}

.card {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 10px 10px;
}

#card-content, #resource-content {
  display: grid;
  justify-content: center;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(134, 134, 134);
}

#card-div:hover #card-content {
  opacity: 0.80;
}

#card-div:hover #resource-content {
  opacity: 0.95;
}

.card-title{
  font-family: 'Raleway', sans-serif;
  color: black;
  opacity: 1;
  font-size: 40px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#details-btn, #resources-btn {
  position: relative;
  height: 40px;
  margin-top: 10px;
  background-color: black;
  border: black;
  color: white;
}

#details-btn:hover, #resources-btn:hover {
  background-color: white;
  color: black;
}

#main-page-btn, .btn {
  display: block;
  margin: 20px auto;
  width: fit-content;
  text-align: center;
  background-color: #BFD9D7;
  color: black;
  border: black;
  font-weight: bold;
}

.btn:hover, #main-page-btn:hover {
  background-color: #b89a5d;
  color: black;
}

.inquiry-div, .new-art-div, .edit-art-div, .new-resource-div {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 15px;
}

.message-label, .description-label {
  display: block;
  margin-bottom: 10px;
}

.form-item {
  margin: 20px;
}

input {
 width: 200px;
}

@media (min-width: 700px) {
  .resource-container, .quilt-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1100px) {
  .resource-container, .quilt-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1400px) {
  .resource-container, .quilt-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
